{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'algo_app/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <title>Dashboard</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo">Dashboard</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/all">All Problems</a></li>
          <li><a href="/new">New Problem</a></li>
          <li><a href="/popular">Popular Problems</a></li>
          <li><a href="/resources">Resources</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col s12">
        <h5 class="black-text">Plan For This Week ({{start_date|date:"M d"}} - {{end_date|date:"M d"}})</h5>
        <table>
          <tr>
            <th class="header">Date</th>
            <th class="header">Problem1</th>
            <th class="header">Problem2</th>
            <th class="header">Problem3</th>
            <th class="header">Problem4</th>
            <th class="header">Problem5</th>
          </tr>
          <tr {% for date in dateranges %}>
            <td>{{date|date:"M d"}}</td>
              {% for calendar in calendars %}
                {% if calendar.date == date|date:"Y-m-d" %}
                <td><a href="/problem/{{calendar.problem.id}}">{{calendar.problem.prob_name|title}}</a></td>
                {% endif %}
              {% endfor %}
          </tr {% endfor %}>
        </table><br><br>
        <hr><br>
        <div class="box">
          <h5 class="title">Create Your Plan</h5>
          <div class="row">
            <p class="text">(If drop down is empty, add a <a href="/new">New Problem</a>)</p>
            <form class="col s4" action="/add_calendar" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="input-field col s10">
                  <select id="problem" class="dropdown-button btn" name="problem">
                    {% for problem in problems %}
                      <option class="validate">{{problem.prob_name|title}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s10">
                  <input id="date" type="date" class="validate" name="date_cal" placeholder="Date">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s10">
                  <button class="btn waves-effect waves-light" type="submit">Submit</button>
                </div>
              </div>
            </form>
          </div>

          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags}}" {% endif %}>{{ message }}
          </li>
            {% endfor %}
          </ul>
          {% endif %}

        </div>
      </div>
    </div>
  </body>
</html>
