<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <title>Data Structure and Algorithm Progress Tracker</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo">Algorithm Progress Tracker</a>
        <ul class="right hide-on-med-and-down">
          <li ><a href="/register">Register</a></li>
          <li class="active"><a href="/login">Log In</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
