{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'algo_app/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <title>Data Structure and Algorithm Progress Tracker</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo">Algorithm Progress Tracker</a>
        <ul class="right hide-on-med-and-down">
          <li ><a href="/register">Register</a></li>
          <li><a href="/login">Log In</a></li>
        </ul>
      </div>
    </nav>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Welcome</h5>
            <p class="grey-text text-lighten-4">Personalize a plan to improve Data Structure and Algorithm skills. The website will allow you to add problems you want to work on as well as algorithm related events you want to attend. This site also gives you a list of helpful resources to improve your skills</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Preview</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="/all">All Problems</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        <a class="link" href="/register">Register</a> or <a class="link" href="/login">Log In</a> and start tracking your progress
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
  </body>
</html>
