<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Algorithm Progress Tracker</a>
        <ul class="right hide-on-med-and-down">
          <li class="active"><a href="/register">Register</a></li>
          <li class="active"><a href="/login">Log In</a></li>
        </ul>
      </div>
    </nav>
    <div class="row">
    <form class="col s12" action="/loggedIn" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s3">
          <input id="email" type="email" class="validate" name="email" placeholder="Email">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <input id="password" type="password" class="validate" name="password" placeholder="Password">
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit">Log In
      </button>
    </form>
  </div>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags}}" {% endif %}>{{ message }}
  </li>
    {% endfor %}
  </ul>
  {% endif %}

  </body>
</html>
