<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <title>New Problem</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo">New Problem</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/all">All Problems</a></li>
          <li><a href="/new">New Problem</a></li>
          <li><a href="/popular">Polular Problems</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/resources">Resources</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <form class="col s12" action="/add_problem" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s4">
            <input id="prob_name" type="text" class="validate" name="prob_name" placeholder="Problem Name">
          </div>
        </div>
        <div class="row">
          <form class="col s4">
            <div class="row">
              <div class="input-field col s4">
                <textarea id="prob_statement" class="materialize-textarea" name="prob_statement" placeholder="Please enter the full problem statement here..."></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <select id="prob_type" type="text" class="dropdown-button btn" name="prob_type" placeholder="Problem Type">
              <option class="validate" value="array">Array</option>
              <option class="validate" value="strings">Strings</option>
              <option class="validate" value="linkedlist">Linked List</option>
              <option class="validate" value="recursion">Recursion</option>
              <option class="validate" value="sort">Sort</option>
              <option class="validate" value="heap">Heap</option>
              <option class="validate" value="bst">Binary Search Tree</option>
              <option class="validate" value="trie">Trie</option>
              <option class="validate" value="hashmap">HashMap</option>
              <option class="validate" value="graph">Graph</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <p class="text">Select sources of the problem below. You can select multiple options</p>
            <select multiple id="prob_sources" type="text" class="dropdown-button btn" name="prob_sources" placeholder="Source(s) of the problem">
              <option class="validate" value="dojo">Dojo</option>
              <option class="validate" value="ctci">CTCI</option>
              <option class="validate" value="leetcode">Leetcode</option>
              <option class="validate" value="wwc">WWC</option>
              <option class="validate" value="other">Other</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <input id="prob_support" type="text" class="validate" name="prob_support" placeholder="Please enter supporting materials here (optional)">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <input id="prob_comment" type="text" class="validate" name="prob_comment" placeholder="Comment (optional)">
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Submit Problem</button>
      </form>
   </div>
  </body>
</html>
