{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="{% static 'algo_app/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <title>{{problem.prob_name|title}}</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo">Problem</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/all">All Problems</a></li>
          <li><a href="/new">New Problem</a></li>
          <li><a href="/popular">Popular Problems</a></li>
          <li><a href="/resources">Resources</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </div>
      </nav>
      <div class="row">
        <div class="col s12">
          <h5 class="black-text">{{problem.prob_name|title}}</h5>
          <p>{{problem.prob_statement|capfirst}}</p>
          <table class="box">
            <tr>
              <th class="header">Problem Type</th>
              <th class="header">Source of Problem</th>
              <th class="header">Supporting Materials</th>
              <th class="header">Comment?</th>
            </tr>
            <tr>
              <td>{{problem.prob_type.data_type|title}}</td>
              <td>{{problem.prob_sources|title}}</td>
              <td>{{problem.prob_support|title}}</td>
              <td>{{problem.prob_comment|title}}</td>
            </tr>
          </table><br><br>
          <a class="btn waves-effect waves-light" href="/delete/{{problem.id}}">Delete Problem</a><br><br><br>


          <h5>Solutions</h5>
          {% for solution in solutions %}
          <div class="row">
             <div class="col s12">
               <div class="card-panel #1de9b6 teal accent-1">
                 <span class="black-text">{{solution.solution}}
                 </span><br><br>
                 <a class="btn waves-effect waves-light" href="/delete_solution/{{solution.id}}/{{solution.problem.id}}">Delete Solution</a><br><br><br>
               </div>
             </div>
           </div>
          {% endfor %}<br><br>


          <h5 class="title">Add Solution</h5>
          <form class="col s10" action="/add_solution/{{problem.id}}" method="POST">
            {% csrf_token %}
            <div class="input-field col s10">
              <textarea id="solution" class="materialize-textarea" name="solution" placeholder="Solution"></textarea>
            </div>
            <button class="btn waves-effect waves-light" type="submit">Submit Solution</button>
          </form>


          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags}}" {% endif %}>{{ message }}
          </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
  </body>
</html>
