.box {
  border: solid #66c6bc;
}

.header {
  background-color: #66c6bc;
}

/*.error {
  color: #D8000C;
	background-color: #FFBABA;
}*/

p.text {
  color: #d3d3d3;
}

.color-text {
  color: blue;
}
