.box {
  border: solid #66c6bc;
}

.header {
  background-color: #66c6bc;
}

p.text {
  color: #d3d3d3;
}

.color-text {
  color: blue;
}

.link {
  color: cyan;
}

.headline {
  color: teal;
}

span.underline {
  text-decoration-style: solid;
}
